
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="description" content="A JavaScript Code Quality Tool">
		<meta name="author" content="Anton Kovalyov">
		<title>Ferreteria</title>

		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/docs.css">
		<link rel="stylesheet" href="/static/css/codemirror.css">
		<link rel="stylesheet" href="/static/css/editor.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="/static/js/bootstrap-dropdown.js"></script>	
	   <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
   </script>
	</head>

	<body>
		<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
 	
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">FERRETERIA</a>
      <div class="btn-group">
  			<button class="btn btn-primary">FACTURACION</button>
  			<button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
    			<span class="caret"></span>
  			</button>
  			<ul class="dropdown-menu">
   				 <li><a href="/F/" target="_blank" onClick="window.open(this.href, this.target, 'width=1000,height=400'); return false;">FACTURAR</a></li>
           		<li><a href="/IC/1/" onClick="window.open(this.href, this.target, 'width=350,height=800'); return false;">CREAR CLIENTE</a></li>
   				 <li><a href="/CAJAC/" onClick="window.open(this.href, this.target, 'width=350,height=800'); return false;">CIERRE DE CAJA</a></li>
   				 <li class="divider"></li>
   				 <li><a href="/V/1/" onClick="window.open(this.href, this.target, 'width=550,height=400'); return false;">VENTAS DEL DIA</a></li>
   				 <li><a href="/V/2/" onClick="window.open(this.href, this.target, 'width=550,height=400'); return false;">VENTAS DEL MES</a></li>
   				 <li><a href="/V/3/" onClick="window.open(this.href, this.target, 'width=550,height=400'); return false;">VENTAS DEL ANO</a></li>
   				 <li class="divider"></li>
   				 <li><a href="/XLSV/1/">VTS DIA EXCEL</a></li>
   				 <li><a href="/XLSV/2/">VTS MES EXCEL</a></li>
   				 <li><a href="/XLSV/3/">VTS ANO EXCEL</a></li>


  			</ul>
  			
	</div>
	 <div class="btn-group">
  			<button class="btn btn-primary">INVENTARIO</button>
  			<button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
    			<span class="caret"></span>
  			</button>
  			<ul class="dropdown-menu">
   				<li><a href="/IP/" onClick="window.open(this.href, this.target, 'width=350,height=800'); return false;">ING NUEVO PRODUCTO</a></li>
   				<li><a href="/IP/">* funcion no funciona *BAJA PRODUCTO</a></li>
           		<li><a href="/B/" target="_blank" onClick="window.open(this.href, this.target, 'width=1000,height=400'); return false;">* funcion no funciona *BUSCAR PRODUCTO</a></li>
           		<li><a href="//">* funcion no funciona *INGRESO PRODUCTO</a></li>
           		<li class="divider"></li>
   				<li><a href="/admin/tablas/proveedor/add/" onClick="window.open(this.href, this.target, 'width=350,height=800'); return false;">INGRESAR PROVEEDOR</a></li>
   				 <li><a href="/IPR/"> * funcion no funciona *BUSCAR PROVEEDOR</a></li>
   				 
   				 <li class="divider">Flet</li>


  			</ul>
  			
	</div>
  			
<a href="/admin/logout/">Salir</a>
  <div class="span1">
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        
      </div>
 
    </div>
  </div>
</div>
<br><br><br>

    <div class="span9 ">

   
  
	    
	</body>
</html>
