
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="description" content="A JavaScript Code Quality Tool">
		<meta name="author" content="Anton Kovalyov">
		<title>{% block title %}{% endblock title %} :: SIS</title>

		

	{% block head %}{% endblock head %}
	</head>

	<body class="popup tablas-departamento change-form">
	<div id="container"><!-- Content -->
    <div id="content" class="colM">
        
    <h1>Añadir Departamento</h1>
    <div id="content-main">
	{% block contenido %}{% endblock contenido %}		
  
	</div></div></div>	
	</body>
</html>
