
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="description" content="A JavaScript Code Quality Tool">
		<meta name="author" content="Anton Kovalyov">
		<title>Ferreteria</title>

		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/docs.css">
		<link rel="stylesheet" href="/static/css/codemirror.css">
		<link rel="stylesheet" href="/static/css/editor.css">

	
	</head>

	<body>
		<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li class="Home"><a href="/">HOME</a>
				<li ><a href="/FACTURACION/">FACTURACION</a>
				<li ><a href="/Proveedores/">PROVEEDORES</a>
				<li ><a href="/Cuentas por cobrar/">CUENTAS POR COBRAR</a>
				<li ><a href="/cuentas por pagar/">CUENTAS POR PAGAR</a>
				<li ><a href="/usuarios/">USUARIOS</a>
			</ul>
		</div>
	</div>
</div>
<br><br><br>

    <div class="span9 ">
    	<a href=""><img src="/static/img/factura.png"></a>
    	<a href=""><img src="/static/img/inventario.png"></a>
 
	</div>
  <div class="span1">
   
  
		
	</body>
</html>
