
<!DOCTYPE html>
<html lang="es-EC" >
<head>
<title>Añadir Departamento | Sitio de administración de Django</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
{% block head %}{% endblock head %}
</head>


<body>
 <div class="blanco">
  <div class="container">
<!-- Container -->

{% block contenido %}{% endblock contenido %}
</div></div>
</body>
</html>
